
#portfolio {
    background: #f4e7f5;
    padding-bottom: 5%;
}
#portfolio .section-title {
    font-size: 30px; 
    font-weight: 700; 
    color: #333;  
}
.photo img {
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.photo div {
    background: #ffffff;
    display: inline-block;
    margin: 0 auto 5% auto;
    padding: 10px 10px 5px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
    height: 320px;
    width: 100%;
}

.photo div:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
}

.photo div:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.project-title-settings {
    font-size: 18px; 
    font-weight: 600; 
    color: #333; 
    margin-top: 5px;
    line-height: 1.3; 
}

